h1 {
    font-family: "Comic Sans", cursive;
}

table, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    background-color: gold;
}

td {
    font-family: "Anonymous Pro", "Segoe UI", "Consolas", monospace;
    margin: 0px;
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.device-header {
    font-family: "Anonymous Pro", "Segoe UI", "Consolas", monospace;
    font-size: 20pt;
}

td.device-param {
    padding: 10px;
    background-color: gold;
}

input {
    margin-left: 10px;
}

