[Unit]
Description=student code upload handler
AssertPathExists=/home/pi/storage

[Service]
Type=oneshot
User=pi
ExecStart=/bin/bash /home/pi/.local/bin/commit-code

[Install]
WantedBy=upload.path
