@import 'app';

#widget-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;    // HARDCODED
  bottom: 55px; // HARDCODED
  padding: 5px;
}

.widget {
  position: absolute !important;
  border: solid;
  border-radius: 6px;
  border-color: @navbar-footer-bg;
}

.sensorList {
  -webkit-user-select: none;
}

.sensor {
  color: @navbar-main-link-color;
}

.sensor:hover {
  color: @navbar-main-link-color;
}

.sensor_img {
  height: 1em; 
  right: -70%;
  position: relative;
}
