# Project managers are automatically requested for review
/dawn/            @Funplings @kdarken
/DevOps/          @rs4ostrea
/foundry/         @rs4ostrea
/runtime/         @benliao1
/hibike/          @benliao1
/shepherd/        @FIREdog5 @kaipinryankoh
