#!/bin/bash

blue="\e[1;34m"
gold="\e[1;33m"
clear="\e[0m"
highlight="\e[1;36m"

echo
echo -e "${blue}                        ....${clear}"
echo -e "${blue}         ...'''........''''''''${clear}"
echo -e "${blue}        .''''''''''''''''''''''${clear}                   ${highlight}_/_/                          _/  _/${clear}"
echo -e "${blue}        .''''''...       ..''''''.${clear}             ${highlight}_/    _/  _/_/_/    _/      _/      _/${clear}"
echo -e "${blue}       .'''''.              ..'''''....${clear}       ${highlight}_/_/_/_/  _/    _/  _/      _/  _/  _/${clear}"
echo -e "${blue}     .'''''.                  .'''''''''${clear}     ${highlight}_/    _/  _/    _/    _/  _/    _/  _/${clear}"
echo -e "${blue} .'''''''''                    .''''''''${clear}    ${highlight}_/    _/  _/    _/      _/      _/  _/${clear}"
echo -e "${blue} ''''''''''            ${gold}.${blue}       .''''''..${clear}"
echo -e "${blue} ''''''''''.           ${gold},xc'${blue}   .''''''.${clear}      Pioneers in Engineering (https://github.com/pioneers)"
echo -e "${blue}     .''''''.           ${gold};xxxo;'${blue}..'''.${clear}"
echo -e "${blue}      .''''''''..        ${gold}:xxxxxdc${blue},..${clear}        Welcome, {{ user.name }}!"
echo -e "${blue}        .'''''''''''''''' ${gold}cxxxxxxxxl,${clear}"
echo -e "${blue}         .'''''''''''''''' ${gold}cxxxxxxxxxx;${clear}     Environment built on {{ ansible_date_time.iso8601 }}."
echo -e "${blue}        .'''''''''''''''... ${gold}lxxxxxxxxxxc${clear}"
echo -e "${blue}         ..'''''''           ${gold}:xxxxxxxl.${clear}     $(/usr/games/fortune pie-fortunes | head -n 1)"
echo -e "${blue}             ....             ${gold}.:xxl,.${clear}"
echo
