body {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: sans-serif;
}

html {
    margin-top: 0px;
    margin-bottom: 0px;
}

#submit-button {
	padding: 5px 30px 5px 30px;
	background: #008000;
	color: #F8F8FF;
	border-radius: 50%;
	font-size: 28px; 

	position: absolute;
	top: 420px;
	left: 50%;
	margin-left: -70px;
}

#submit-button:active {
	opacity: 0.80;
}

#submit-button {
	cursor: pointer;
}

#feedback {
	color: black;
	font-size: 48pt;
}

#text-area {
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -150px;
	font-size: 40pt;
	text-align: center;
	font-family: helvetica;
	height:200px;
    width:400px;
}