[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
click = "~=7.0"
pyserial = "~=3.4"
pyudev = "~=0.21"
pyyaml = "~=3.13"
pyserial-asyncio = "*"
# uvloop = "*"
yappi = "*"
cobs = "~=1.1"
aioprocessing = "*"
msgpack = "*"
schema = "*"
backoff = "*"
colorama = "*"
aio-msgpack-rpc = "*"
structlog = "*"
aiofiles = "*"
cachetools = "*"
# Note: `pyzmq` should be installed separately because it relies on several
# --install-option flags to use draft sockets.

[dev-packages]
cython = "~=0.29"
pylint = "~=2.2"
pytest = "~=4.1"
pytest-timeout = "~=1.3"
asynctest = "~=0.12"
memory-profiler = "*"
