[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
aiofiles = "*"
aioprocessing = "*"
aiorwlock = "*"
aioserial = "*"
backoff = "*"
cachetools = "*"
click = "~=7.0"
colorama = "*"
cobs = "~=1.1"
msgpack = "*"
pylint = "~=2.2"
pyserial = "~=3.4"
pyudev = "~=0.21"
pyyaml = "~=3.13"
schema = "*"
structlog = "*"
uvloop = "*"
yappi = "*"
# Note: `pyzmq` should be installed separately because it relies on several
# --install-option flags to use draft sockets.
python-rapidjson = "*"

[dev-packages]
cython = "~=0.29"
pytest = "~=5.3"
pytest-timeout = "~=1.3"
asynctest = "~=0.12"
memory-profiler = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
black = "~=18.3a0"

[scripts]
build = "python setup.py build_ext --inplace"
dev = "python -m runtime run --log-level DEBUG --log-pretty"
prod = "python -m runtime run"
lint = "pylint runtime/game/studentapi.py runtime/service runtime/util"
test = "python -m pytest tests/test_packet.py tests/test_executor.py"

[pipenv]
allow_prereleases = true
