
<button data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#/" class="brand">Daemon</a>
<div class="nav-collapse">
  <ul class="nav">
    <li ng-class="getClass('/control')"><a ng-href="#/control">Control</a></li>
    <li ng-class="getClass('/edit')"><a ng-href="#/edit">Edit</a></li>
    <li ng-class="getClass('/simulate')"><a ng-href="#/simulate">Simulate</a></li>
  </ul>
</div>