ul.dropdown-menu(role="menu")
  li(ng-repeat="item in menuItems",
    class="{{item.class}}", ng-click="item.ngClick()")
    span(ng-show="item.class") {{item.label}}
    a(ng-hide="item.class") {{item.label}}
