//div(ng-controller = "ConfigureCtrl")
form(name='configure', novalidate='novalidate')
  div.modal-header
    h3.modal-title Configuration
  div.modal-body
    .panel
      h3.modal-title rip radio
  div.modal-footer
    button.btn.btn-default(ng-click="cancelClick()") Cancel
    button.btn.btn-primary(ng-click="saveClick(configure)", type="submit", ng-disabled='configure.$invalid') Save Configuration


