div(ng-app='ng-app', ng-controller='WidgetCtrl')
  div(id='widget-container', data-target="#canvas-context-menu", data-toggle="context")
    div.widget(draggable, resizable, widgetcontextcaller
      ng-repeat='widget in widgets', ng-include='widget.url')

    .jumbotron.center-block.text-center
      .row
          h1 Daemon
      .row
          p Have you set up your robot yet?
      .row
          a(href='#/config').btn.btn-default.btn-lg Go To Setup

  canvascontext#canvas-context-menu(ng-controller="CanvasContextCtrl")
  widgetcontext#widget-context-menu