div(ng-app='ng-app')
  div.col-sm-9.dashboard-component
    div.panel.panel-default
      .panel-heading Placeholder
      .panel-body
  div.col-sm-3.dashboard-component
    div.panel.panel-default(ng-controller='SensorCtrl')
      .panel-heading
        h4.panel-title Sensors / Peripherals
      ul.panel-body
        div.sensorList(ng-repeat='sensor in sensors')
          span(ng-if="sensor.properties.type == 'binary'")
            a.sensor(href="", ng-click="SensorClick(sensor)", data-toggle="tooltip", data-placement="top", title="{{sensor.description}} did: {{sensor.did}}") {{sensor.name}}
            span(ng-click="SensorClick(sensor)", ng-bind-html="getSensorImage(sensor)")
          span(ng-if="sensor.properties.type == 'num'")
            a.sensor(href="", style='padding-right:5px;float: left', ng-click="SensorClick(sensor)", data-toggle="tooltip", data-placement="top", title='{{sensor.description}} did: {{sensor.did}}') {{sensor.name}}
            div.progress(ng-click="SensorClick(sensor)")
              div.progress-bar(style='width: {{sensor.data_normalized}}%;')
    div.panel.panel-default
      .panel-heading
        h4.panel-title Connection Status
      .panel-body
