div(ng-app='ng-app', ng-controller='WidgetCtrl')
  div(id='widget-container', data-target="#canvas-context-menu", data-toggle="context")
    div.widget(draggable, resizable, widgetcontextcaller
      ng-repeat='widget in widgets', ng-include='widget.url')
  canvascontext#canvas-context-menu(ng-controller="CanvasContextCtrl")
  widgetcontext#widget-context-menu

  div.col-sm-9
  div.col-sm-3
    div.well(ng-controller='SensorCtrl') Sensors / Peripherals
      div.sensorList(ng-repeat='sensor in sensors')
        span(ng-if="sensor.properties.type == 'binary'")
          a.sensor(href="", ng-click="SensorClick(sensor)", data-toggle="tooltip", data-placement="top", title="{{sensor.description}} did: {{sensor.did}}") {{sensor.name}}
          span(ng-click="SensorClick(sensor)", ng-bind-html="getSensorImage(sensor)")
        span(ng-if="sensor.properties.type == 'num'")
          a.sensor(href="", style='padding-right:5px;float: left', ng-click="SensorClick(sensor)", data-toggle="tooltip", data-placement="top", title='{{sensor.description}} did: {{sensor.did}}') {{sensor.name}}
          div.progress(ng-click="SensorClick(sensor)")
            div.progress-bar(style='width: {{sensor.data_normalized}}%;')
        
      //button(ng-click="test()") magic btn 
    div.well Connection Status

