div.container-fluid(ng-controller='EditCtrl')
  div#editor(ui-ace="{ \
    onLoad : aceLoaded,\
    onChange : aceChanged,\
    useWrapMode : true,\
    showGutter: true,\
    theme: 'monokai',\
    mode: 'lua' }")
  div#buts.pull-right
    button.btn.btn-success(ng-click="sendEditorData()") Deploy to Robot
  div#console(ui-ace="{ \
    useWrapMode : true,\
    showGutter: false,\
    theme: 'monokai'}",
    readonly="true", ng-model="consoleOutput")

