div.container-fluid(ng-controller='EditCtrl')
  div#editor(ui-ace="{ \
    onLoad : aceLoaded,\
    onChange : aceChanged,\
    useWrapMode : true,\
    showGutter: true,\
    theme: 'monokai',\
    mode: 'lua' }")
  div#buts.pull-left
    button.btn.btn-danger Stop
    button.btn.btn-success(ng-click="sendEditorData()") Play
