button.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
  span.icon-bar
  span.icon-bar
  span.icon-bar
a(href='#/').brand Daemon
.nav-collapse
  ul.nav
    li(ng-class="getClass('/control')")
      a(ng-href='#/control') Control
    li(ng-class="getClass('/edit')")
      a(ng-href='#/edit') Edit
    li(ng-class="getClass('/simulate')")
      a(ng-href='#/simulate') Debug Information
