button.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
  span.icon-bar
  span.icon-bar
  span.icon-bar
a(href='#/').brand Daemon Player
.nav-collapse
  ul.nav
    li(ng-class="getClass('/todo')")
      a(ng-href='#/todo') todo
    li(ng-class="getClass('/view1')")
      a(ng-href='#/view1') view1
    li(ng-class="getClass('/view2')")
      a(ng-href='#/view2') view2
