<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="charset=utf-8" />
        <title>Sensor Testing Web Interface</title>
        <link rel="stylesheet" type="text/css" href="static/style.css" />
    </head>
    <body>
        <script type="text/javascript" src="static/jquery-3.2.1.min.js"></script>
        <script type="text/javascript">
            "use strict";
            function writeValue(uid, paramName, paramType) {
                var inputElt = document.getElementById("dev-" + uid + "-" + paramName);
                if (inputElt === null) {
                    alert("tried to send value to nonexistent device: " + uid);
                    return;
                }
                var realValue;
                switch (paramType) {
                case "bool":
                    realValue = inputElt.checked;
                    break;
                case "float":
                case "double":
                    realValue = parseFloat(inputElt.value);
                    if (isNaN(realValue)) {
                        alert("invalid float: " + inputElt.value);
                        return;
                    }
                    break;
                default:
                    realValue = parseInt(inputElt.value);
                    if (isNaN(realValue)) {
                        alert("invalid int: " + inputElt.value);
                        return;
                    }
                    break;
                }
                var obj = {};
                obj[paramName] = realValue;
                //console.log(JSON.stringify(obj));
                $.ajax({
                    method: "POST",
                    url: "/devices/" + uid,
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    statusCode: {
                        404: () => alert("Device or parameter not found: " + uid + " " + paramType)
                    }
                });
            }

            function readValues(uid) {
                $.getJSON("/devices/" + uid, (data) => {
                    for (let param in data) {
                        let elem = document.querySelector("#dev-" + uid + "-" + param + "-readonly");
                        if (elem === null) {
                            continue;
                        }
                        elem.innerHTML = data[param];
                    }
                });
            }

            function readWriteableParam(uid, paramName, paramType) {
                $.getJSON("/devices/" + uid + "/" + paramName, (data) => {
                    var elem = document.querySelector("#dev-" + uid + "-" + paramName);
                    var sliderLabel = document.querySelector("#slider-value-" + uid + "-" + paramName);
                    if (elem === null) {
                        alert("Tried to read nonexistent parameter: " + paramType);
                        return;
                    }
                    var value = data[paramName];
                    if (paramType === "bool") {
                        elem.checked = value;
                    } else {
                        elem.value = value;
                    }
                    if (elem.type === "range") {
                        sliderLabel.innerHTML = value;
                    }
                });
            }

            function updateAll() {
                {% for device in devices %}
                readValues("{{ device.uid }}");
                {% endfor %}
            }

            function disableAll() {
                $.ajax({
                    url: "/devices",
                    method: "DELETE"
                });
            }

            function readSliderValue(displayId, sliderId) {
                var slider = document.getElementById(sliderId);
                var displayBox = document.getElementById(displayId);
                if (slider === null || displayBox === null) {
                    alert("readSliderValue couldn't find slider or div");
                    return;
                }
                displayBox.innerHTML = slider.value;
            }

            setInterval(updateAll, 1000);
        </script>
        <button onclick="disableAll()">Disable All Devices</button>
        <div id="sensors">
            {% for device in devices %}
            <h3 class="device-header">{{ device.name }} @ {{ device.uid }}</h3>
            <table>
            <tr>
                {% for param in device.params %}
                <td class="device-param">
                    {{ param.name }} (<b>{{ param.type }}</b>)
                </td>
                {% endfor %}
            </tr>
            <form>
            <tr>
                {% for param in device.params %}
                <td>
                    {% if param.writeable %}
                        {% if param.type == "bool" %}
                            {% if param.init_value %}
                    <input type="checkbox" id="dev-{{ device.uid }}-{{ param.name }}" checked />
                            {% else %}
                    <input type="checkbox" id="dev-{{ device.uid }}-{{ param.name }}" />
                            {% endif %}
                        {% elif param.type == "float" or param.type == "double" %}
                    <div id="slider-value-{{ device.uid }}-{{ param.name }}">{{ param.init_value }}</div>
                    <input type="range" min="-1" max="1" step="0.05" id="dev-{{ device.uid }}-{{ param.name }}" onchange="readSliderValue('slider-value-{{ device.uid }}-{{ param.name }}', 'dev-{{ device.uid }}-{{ param.name }}')" value="{{ param.init_value }}" />
                        {% else %}
                    <input type="text" size="5" id="dev-{{ device.uid }}-{{ param.name }}" value="{{ param.init_value }}"/>
                        {% endif %}
                    <br />
                    <input type="button" value="Write" onclick="writeValue('{{ device.uid }}', '{{ param.name }}', '{{ param.type }}')" />
                    <br />
                        {% if param.readable %}
                    <input type="button" value="Read" onclick="readWriteableParam('{{ device.uid }}', '{{ param.name }}', '{{ param.type }}')" />
                        {% endif %}
                    {% else %}
                    <div id="dev-{{ device.uid }}-{{ param.name }}-readonly">{{ param.init_value }}</div>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            </form>
            </table>
            {% endfor %}
        </div>
    </body>
</html>

