[Unit]
Description=Fabric Initialization Daemon
After=multi-user.target
After=docker.service

[Service]
Type=oneshot
ExecStart=/home/fabric/.local/bin/fabric-start
ExecStop=/home/fabric.local/bin/fabric-stop
User=root
Group=root

[Install]
WantedBy=multi-user.target
