[Unit]
Description=runtime service
Requires=update.service
After=local-fs.target

[Service]
Type=simple
ExecStart=/home/ubuntu/bin/runtime.sh

[Install]
WantedBy=local-fs.target
