[Unit]
Description=Robot software updater
After=sysinit.target
AssertPathExists=/home/ubuntu/bin/update.sh

[Service]
Type=oneshot
ExecStart=/home/ubuntu/bin/update.sh

[Install]
WantedBy=sysinit.target
WantedBy=runtime.service
