@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html, body, #app, #app > .bg-theme {
  height: 100%;
}

.navbar-tabs {
  .bp3-large > .bp3-tab {
    line-height: 50px;
  }
}

.bp3-navbar-divider {
  margin: 0 20px;
}

.bp3-navbar-heading {
  margin: 0;
}

main {
  margin-top: 1rem;
}

.team-form {
  margin: 1rem 0;
}

.team-form-row {
  margin: 0.6rem 0;
}
