@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables.scss";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

$scoreboard-font-weight: 500;

html, body, #app, #app > .bg-theme {
  height: 100%;
}

.navbar-tabs {
  .bp3-large > .bp3-tab {
    line-height: 50px;
  }
}

.bp3-navbar-divider {
  margin: 0 20px;
}

table.bp3-large {
  font-size: 16px;
}

.bp3-navbar-heading {
  margin: 0;
}

main {
  margin-top: 1rem;
}

.game-form-section {
  margin-bottom: 1.5rem;
}

.team-form-row {
  margin: 0.6rem 0;
}

.bp3-card {
  margin: 0.5rem 0;
}

.bp3-dark #scoreboard {
  color: $pt-dark-text-color-muted;
}

.bp3-light #scoreboard {
  color: $pt-text-color-muted;
}

.bp3-dark * #scoreboard-timer-canvas > text {
  font-family: $pt-font-family-monospace;
  font-size: 1.4*$pt-font-size-large;
  fill: $pt-dark-text-color-muted;
}

.bp3-light * #scoreboard-timer-canvas > text {
  font-family: $pt-font-family-monospace;
  font-size: 1.4*$pt-font-size-large;
  fill: $pt-text-color-muted;
}

#scoreboard {
  text-align: center;
  h1, h2, h3 {
    margin: 1rem 0;
    font-weight: $scoreboard-font-weight;
  }
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3.5rem;
  }
}
