@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html, body, #app, #app > .bg-theme {
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  max-width: 1400px;
}

.navbar-tabs {
  .bp3-large > .bp3-tab {
    line-height: 50px;
  }
}

.bp3-navbar-divider {
  margin: 0 20px;
}

.bp3-navbar-heading {
  margin: 0;
}

main {
  margin-top: 1rem;
}
