<html>

<head>
  <title>Scoreboard</title>
  <script type="text/javascript" src={{url_for( 'static', filename='jquery-1.12.3.min.js' )}}></script>
  <script type="text/javascript" src={{url_for( 'static', filename='tabletop.js' )}}></script>
  <script type="text/javascript" src={{url_for( 'static', filename='lcm_ws_bridge.js' )}}></script>
  <script type="text/javascript" src={{url_for( 'static', filename='socket.io.js' )}}></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">

  <!-- Styles -->
  <style>
    /*Disables spinning on number forms*/

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    .bottom-padding {
      margin-bottom: 15px;
    }

    .led-green,
    .heartbeat-light {
      width: 24px;
      height: 24px;
      background-color: #ABFF00;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
    }

    .led-red {
      width: 24px;
      height: 24px;
      background-color: #F00;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    }
  </style>
  <script>
    $(document).ready(function() {

      var socket = io('http://127.0.0.1:5000');
      var match_num = 0
      var blue_1_num = 0
      var blue_1_name = ""
      var blue_2_num = 0
      var blue_2_name = ""
      var gold_2_num = 0
      var gold_2_name = ""
      var gold_1_num = 0
      var gold_1_name = ""

      function getCookie(cname) {
          var name = cname + "=";
          var ca = document.cookie.split(';');
          for (var i = 0; i < ca.length; i++) {
              var c = ca[i];
              while (c.charAt(0) == ' ') c = c.substring(1);
              if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
          }
          return "";
      }

      if (getCookie("match_num") != "") {
        match_num = parseInt(decodeURIComponent(getCookie("match_num")))
        blue_1_num = parseInt(decodeURIComponent(getCookie("blue_1_num")))
        blue_1_name = decodeURIComponent(getCookie("blue_1_name"))
        blue_2_num = parseInt(decodeURIComponent(getCookie("blue_2_num")))
        blue_2_name = decodeURIComponent(getCookie("blue_2_name"))
        gold_2_num = parseInt(decodeURIComponent(getCookie("gold_2_num")))
        gold_2_name = decodeURIComponent(getCookie("gold_2_name"))
        gold_1_num = parseInt(decodeURIComponent(getCookie("gold_1_num")))
        gold_1_name = decodeURIComponent(getCookie("gold_1_name"))
        setDefaultTeamsInfo()
      }

      socket.on('connect', function(data) {
        socket.emit('join', 'staff_gui');
      });

      $("#populate-match").click(function() {
        match_num = $("#new-match-num").val()
        console.log(match_num)
        socket.emit('ui-to-server-teams-info-request', JSON.stringify({"match_num" : match_num}))
      });

      $("#create-match").click(function() {
        setTeamsInfoVars()
        data = {"match_num" : match_num,
                "b1num" : blue_1_num, "b1name" : blue_1_name,
                "b2num" : blue_2_num, "b2name" : blue_2_name,
                "g1num" : gold_1_num, "g1name" : gold_1_name,
                "g2num" : gold_2_num, "g2name" : gold_2_name}
        socket.emit('ui-to-server-setup-match', JSON.stringify(data))
        document.cookie = "match_num=" + match_num
        document.cookie = "blue_1_num=" + blue_1_num
        document.cookie = "blue_1_name=" + blue_1_name
        document.cookie = "blue_2_num=" + blue_2_num
        document.cookie = "blue_2_name=" + blue_2_name
        document.cookie = "gold_2_num=" + gold_2_num
        document.cookie = "gold_2_name=" + gold_2_name
        document.cookie = "gold_1_num=" + gold_1_num
        document.cookie = "gold_1_name=" + gold_1_name
      });

      socket.on('server-to-ui-teamsinfo', function(data) {
        parsed_data = JSON.parse(data)
        match_num = parsed_data.match_num
        blue_1_num = parsed_data.b1num
        blue_1_name = parsed_data.b1name
        blue_2_num = parsed_data.b2num
        blue_2_name = parsed_data.b2name
        gold_1_num =  parsed_data.g1num
        gold_1_name = parsed_data.g1name
        gold_2_num = parsed_data.g2num
        gold_2_name = parsed_data.g2name
        setDefaultTeamsInfo()
      });

      function setDefaultTeamsInfo() {
        $("#new-match-num").val(match_num);
        $("#blue-1-number").val(blue_1_num);
        $("#blue-1-name").val(blue_1_name);
        $("#blue-2-number").val(blue_2_num);
        $("#blue-2-name").val(blue_2_name);
        $("#gold-1-number").val(gold_1_num);
        $("#gold-1-name").val(gold_1_name);
        $("#gold-2-number").val(gold_2_num);
        $("#gold-2-name").val(gold_2_name);
      }

      function setTeamsInfoVars() {
        match_num = $("#new-match-num").val();
        blue_1_num = $("#blue-1-number").val();
        blue_1_name = $("#blue-1-name").val();
        blue_2_num = $("#blue-2-number").val();
        blue_2_name = $("#blue-2-name").val();
        gold_1_num = $("#gold-1-number").val();
        gold_1_name = $("#gold-1-name").val();
        gold_2_num = $("#gold-2-number").val();
        gold_2_name = $("#gold-2-name").val();
      }

      $("#match-start").click(function() {
        socket.emit('ui-to-server-start-next-stage')
      });

     /** $("#match-next-stage").click(function() {
        socket.emit('ui-to-server-start-next-stage')
    });**/

     /** $("#match-reset-stage").click(function() {
        socket.emit('ui-to-server-reset-stage')
    });**/

      $("#match-reset").click(function() {
        socket.emit('ui-to-server-reset-match')
      });

      /* Heartbeat
      $("#toggle-all").click(
      function() {
        toggleLed($(".heartbeat-light"));
      });

      function toggleBlue1() {
        toggleLed($(".blue-1-hb"));
      }

      function toggleBlue2() {
        toggleLed($(".blue-2-hb"));
      }

      function toggleGold1() {
        toggleLed($(".gold-1-hb"));
      }

      function toggleGold2() {
        toggleLed($(".gold-2-hb"));
      }

      function toggleLed(lightName) {
        lightName.toggleClass("led-red");
      }
      */

    });
  </script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <img alt="Brand" src={{url_for( 'static', filename='favicon.ico' )}} width="41" height="41" class="d-inline-block align-bottom" alt="">
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li class="active"><a href="../staff_gui.html">Staff Gui</a></li>
          <li class="activex"><a href="../score_adjustment.html">Score Adjustment</a></li>
          <li class="activex"><a href="../RFID_control.html">RFID Control</a></li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="container">
    <h2>Match Creator</h2>
    <div class="btn-group bottom-padding" role="group" aria-label="...">
      <button type="button" class="btn btn-success" id="match-start"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start</button>
      <!--<button type="button" class="btn btn-default" id="match-next-stage"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Start Next Stage</button>-->
      <!--<button type="button" class="btn btn-warning" id="match-reset-stage"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Reset Stage</button>-->
      <button type="button" class="btn btn-danger" id="match-reset"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span> Reset Match</button>

      <button type="button" class="btn" id="toggle-all"> Toggle All</button>


    </div>

    <div class="input-group col-xs-4 bottom-padding">
      <input type="number" class="form-control" id="new-match-num" placeholder="Match number" aria-describedby="basicaddon2">
      <span class="input-group-btn">
        <button class="btn btn-default" id="populate-match" type="button">Populate</button>
        <button class="btn btn-info" id="create-match" type="button">Create Match</button>
      </span>
    </div>

    <form class="form-inline bottom-padding">
      <div class="form-group heartbeat-light blue-1-hb"></div>
      <button class="btn btn-danger" type="button" id="stop-blue-1">Stop Blue 1</button>
      <div class="form-group">
        <input type="number" class="form-control" id="blue-1-number" style="width: 81px;" placeholder="Blue 1 #">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="blue-1-name" placeholder="Blue 1 Team Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="gold-1-name" placeholder="Gold 1 Team Name">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" id="gold-1-number" style="width: 81px;" placeholder="Gold 1 #">
      </div>
      <button class="btn btn-danger" type="button" id="stop-gold-1">Stop Gold 1</button>
      <div class="form-group heartbeat-light gold-1-hb"></div>
    </form>

    <form class="form-inline bottom-padding">
      <div class="form-group heartbeat-light blue-2-hb"></div>
      <button class="btn btn-danger" type="button" id="stop-blue-2">Stop Blue 2</button>
      <div class="form-group">
        <input type="number" class="form-control" id="blue-2-number" style="width: 81px;" placeholder="Blue 2 #">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="blue-2-name" placeholder="Blue 2 Team Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="gold-2-name" placeholder="Gold 2 Team Name">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" id="gold-2-number" style="width: 81px;" placeholder="Gold 2 #">
      </div>
      <button class="btn btn-danger" type="button" id="stop-gold-2">Stop Gold 2</button>
      <div class="form-group heartbeat-light gold-2-hb"></div>
    </form>

  </div>
</body>

</html>
