<!DOCTYPE html>
<html>
	<head>
		<title>Code Submission</title>
	    <link rel="stylesheet" type="text/css" href={{url_for( 'static', filename="PerkSelection/css/submit.css")}} media="screen" />
  		<script type="text/javascript" src={{url_for( 'static', filename='socket.io.js' )}}></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	    <script src={{url_for( 'static', filename="jquery.min.js")}}></script>
	    <script src={{url_for( 'static', filename="PerkSelection/js/perksUI.js")}}></script>
	</head>
	<body>
		<input type="text" id="text-area" name="text_name" style="width: 300px;" disabled="disabled" readonly="readonly" />
		<div id="submit-button" onclick="submitCode()">Submit</div>
	</body>
</html>
