.static:hover {
  background-color: #cccccc;
}

.editing {
  border: 2px solid #9ecaed;
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
}

.editing:hover {
  background-color: #ffffff;
}

.invalid {
  border: 2px solid #ff0000;
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
}

.invalid:hover {
  background-color: #ffffff;
}

.panelText {
  padding: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.top {
  margin: 30px 0;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .rating-words {
    text-transform: uppercase;
  }
  .right {
  }
}

.dropdown-item {
}
