.static {
  border: 2px solid #dadada;
  border-radius: 7px;
}

.editing {
  width: 0px;
  border: 2px solid #dadada;
  border-radius: 7px;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

