.static:hover {
  background-color: #cccccc;
}

.editing {
  border: 2px solid #9ecaed;
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
}

.editing:hover {
  background-color: #ffffff;
}

.invalid {
  border: 2px solid #ff0000;
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
}

.invalid:hover {
  background-color: #ffffff;
}
