<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daemon</title>
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="/bootstrap.flatly.css">
  </head>
  <body>
    {{{ body }}}
    <script src="/bundle.js"></script>
  </body>
</html>
